

<!DOCTYPE html>
<html lang="pt-br">

<style type="text/css">
  .icone{
   width:18px;
 }

 .background-site
 {
  background: #006266;
  background-repeat: repeat;
  background-size:100%;
}

</style>

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Sistema de login</title>
</head>

<body class="background-site"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
 <div class="container">
   <div class="row">
    <div class="card mx-auto col-5 shadow-lg p-3 mb-5">
      <div class="card-header"><strong>Login</strong></div>
      <div class="card-body">
        <form>
          <div class="form-group ">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><img src="/static/feather/user.svg" alt="user" class="icone"></span>
              </div>
              <input type="text" class="form-control" placeholder="@armazemparaiba" aria-label="Username" aria-describedby="basic-addon1" id="exampleInputEmail1">
            </div>

          </div>
          <div class="form-group">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><img src="/static/feather/key.svg" alt="key" class="icone"></span>
              </div>
              <input type="text" class="form-control" placeholder="Senha" aria-label="Username" aria-describedby="basic-addon1" id="exampleInputEmail1">
            </div>            
          </div>  <br/>

          <button type="submit" class="btn btn-info btn-block">Entrar&nbsp;<img src="/static/feather/log-in.svg" alt="login" class="icone"></button>
        </form>


      </div>
    </div>
  </div> 
  
</div>
</div>
</div>


<footer class="footer fixed-bottom">    

  <div class="text-center text-light">Desenvolvido pelo setor de montagem da operação Teresina: <strong>OTE<strong>
    <a class="text-light">&nbsp;Versão: 1.0</a>
  </div>
  <style type="text/css">
    footer{
      width: 100%;        
      bottom:0;
    }
  </style>


</footer>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>


